<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}"/>


        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/bootstrap.bundle.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <ul>
            <li><a href="{{ path('app_home') }}">Home</a></li>
            <li><a href="{{ path('app_articles') }}">Articles</a></li>
            <li><a href="{{ path('app_recherche') }}">Recherche</a></li>
            <li><a href="{{ path('app_contact') }}">Contact</a></li>
        </ul>

        {% block body %}{% endblock %}
    </body>
</html>
